{% extends 'base.html' %}
{% load crispy_forms_tags static i18n %}


{% block content %}
<div class="row justify-content-center my-2">
  <div class="col-lg-6">
    {% if user.is_anonymous %}
        <h3>{% translate "NewRegistration" %}</h3> {# Регистрация нового пользователя #}
    {% else %}
        <h3>{% translate "EditProfile" %}</h3> {# Редактировать профиль #}
        {% if user.avatar %}
            <img class="mx-auto d-block" src="{{ user.avatar.url }}" alt="avatar" style="border-radius: 50px; max-height: 300px"> {# inline style #}
        {% else %}
            <img class="rounded mx-auto d-block" src="{{ MEDIA_URL }}avatar_default.svg" alt="default_avatar">
        {% endif %}

    {% endif %}

        <form method="post" class="mt-2" enctype="multipart/form-data">

        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="confirm_personal_data" required="required">
          <label class="form-check-label mb-2" for="confirm_personal_data">
            {% translate "ByThisIConfirm" %} {# By this I confirm with site #}
              <a href="{% url 'mainapp:rules_regulations' %}" target="_blank">{% translate "RulesRegulationsPolicyText" %}</a>.
          </label>
        </div>
            <button type="submit" class="btn btn-primary btn-block">
                {% if user.is_anonymous %}
                    {% translate "Register" %}
                {% else %}
                    {% translate "Save" %}
                {% endif %}
            </button>
        </form>

  </div>
</div>

{% endblock content %}